@CHARSET "UTF-8";

html,BODY { height:100%;overflow-x:hidden; margin:0px;}

#page-container{position: relative;min-height: 100%; min-width: 1200px; background:#fff;}

#sidebar{width:60px;height:100%;overflow:hidden;background:#363636;}

#subarea{position: fixed;top:0;left: 60px; width:210px;height:100%;background-color:rgb(247,247,247);}	

#leftmenu{position:fixed;top:0;width:210px;height:100%;}
.leftmenu-top{height:10%;width:210px;background: #363636;text-align:center;display:inline-block;}
.leftmenu-top a{color:white;text-decoration:none;}

#leftmenuarea{position:relative;height:100%;display: inline-block;width: 210px;}


.boardmenu a{cursor:pointer;}
.boardmenu .hide{display:none;}

#main-container{height:100%;padding:20px;padding-top:0;} 
#main-contents{position:fixed;left:300px;top:80;width:85%;height:100%;}
table { border-spacing: 0; width:90%; max-width:100%; table-layout:fixed; border-collapse:collapse; background-color:#fff; }
.content-write{margin-bottom: 30px; } 
.menulist a {text-decoration:none;}
.btn-wrap {
    padding: 8px 0 8px 0;
    text-align: right;
}

li{
    padding: 8px;
    text-align: center;
    border: hidden;
    font-size : 12px;
}

.content-view .form-group {display:table;margin-bottom:0;padding:0;}

/*버튼*/
.btn-color5.br {
    border: 1px solid #363636;
}

.btn-wrap .btn {
    min-width: 63px;
    padding: 5px 11px;
    /* box-shadow: 0 3px 5px #e3e3e3; */
}

.btn-color5 {
    background: #363636!important;
}

.btn-color7.br {
    border: 1px solid #aaa;
}

.btn-wrap .btn {
    min-width: 63px;
    padding: 5px 11px;
    /* box-shadow: 0 3px 5px #e3e3e3; */
}

.btn-color7 {
    background: #fff;
    color: #111;
}

.btn {
    display: inline-block;
    line-height: 19px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    height: 30;
    width: 60;
}

.btn2 {
    display: inline-block;
    line-height: 19px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    height: 30;
    width: 60;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


.btn {
    display: inline-block;
    padding: 3px 11px;
    line-height: 19px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
/*---------------------------------------*/